body {}

.container {
     max-width: 1100px;
     margin: 0 auto;
}

/* HEADER */

.header {}

.cv-wrapper {

     display: flex;
}

.name {}

.course {}

.title {}

.img {
     height: 400px;
     width: 300px;
}

.subtitle {}

.text {}

.code-example {
     background: rgb(209, 209, 209);
}